body {
  background-color: #1f1f1f;
text-align: center;
}

.heddar {
  border: solid 20px #1f1f1f;
  line-height: 180px;
  float: inline-start;
  width:100%;
  height: 100%;
 
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  width:20%;

}

.gazou img {width: 100%; height: auto;}


.menu {
  color: white;
  
}

.box3 {

  border: solid 1px white;

  float: left;
  text-align: center;
  border: solid 1px white;

  line-height: 20px;

  width:55%;

 

}

.box2 {

  border: solid 1px white;
  line-height: 30px;
  float: left;
  width:40%;
  font-weight: 1000;
}

h2 {
  color: red;
  font-size: 20px;
  text-align: center;
}

a {
  color: blue;
}

a {
  color: white;

}

.box1 {
  font-size:5px;
  line-height: 10px;
  background-color: white;
}

.sinseihin {
color: white;
}

.ue {
  font-size: 20px;
  color: white;
  text-align: left;
}


img {
  max-width: 100%;
  height: auto;
}
